In [28]:
import pandas as pd

In [53]:
df = pd.read_csv('cleansingWine.csv')
print(df.head())

   Rank      id                          name      producer  nation  \
0     0  137197                        Altair        Altair   Chile
1     1  137198               Altair, Sideral        Altair   Chile
2     2  137199              Baron du Val Red  Baron du Val  France
3     3  137200            Baron du Val White  Baron du Val  France
4     4  137201  Benziger, Cabernet Sauvignon      Benziger     USA

         local1          varieties1   varieties2   type    use degree   sweet  \
0  Rapel Valley  Cabernet Sauvignon    Carmenere    Red  Table  17~19  SWEET1
1  Rapel Valley  Cabernet Sauvignon       Merlot    Red  Table  16~18  SWEET1
2           NaN            Carignan     Cinsault    Red  Table  15~17  SWEET2
3           NaN            Carignan  Ugniâ€‹ blanc  White  Table   9~11  SWEET1
4    California  Cabernet Sauvignon          NaN    Red  Table  17~19  SWEET1

    acidity   body   tannin   price  year   ml
0  ACIDITY4  BODY5  TANNIN4  220000  2014  750
1  ACIDITY3  BODY4  TANNIN4  110000  2016  750
2  ACIDITY3  BODY2  TANNIN2       0     0  750
3  ACIDITY3  BODY2  TANNIN1       0     0  750
4  ACIDITY3  BODY3  TANNIN4       0  2003  750

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21605 entries, 0 to 21604
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        21605 non-null  int64
 1   id          21605 non-null  int64
 2   name        21605 non-null  object
 3   producer    21605 non-null  object
 4   nation      21603 non-null  object
 5   local1      20705 non-null  object
 6   varieties1  21256 non-null  object
 7   varieties2  7518 non-null   object
 8   type        21547 non-null  object
 9   use         21591 non-null  object
 10  degree      14460 non-null  object
 11  sweet       21603 non-null  object
 12  acidity     21592 non-null  object
 13  body        21592 non-null  object
 14  tannin      21592 non-null  object
 15  price       21605 non-null  int64
 16  year        21605 non-null  int64
 17  ml          21605 non-null  int64
dtypes: int64(5), object(13)
memory usage: 3.0+ MB

In [55]:
df.describe()

               Rank             id         price          year            ml
count  21605.000000   21605.000000  2.160500e+04  21605.000000  21605.000000
mean   10802.000000  153998.163666  9.266349e+04   1769.949502    743.899236
std     6236.970619    9200.852348  2.521565e+05    654.831502    145.181162
min        0.000000  137197.000000  0.000000e+00      0.000000      0.000000
25%     5401.000000  146645.000000  0.000000e+00   2006.000000    750.000000
50%    10802.000000  153748.000000  3.000000e+04   2012.000000    750.000000
75%    16203.000000  162431.000000  8.900000e+04   2016.000000    750.000000
max    21604.000000  168707.000000  8.000000e+06   2020.000000   6000.000000

In [56]:
df.columns

Index(['Rank', 'id', 'name', 'producer', 'nation', 'local1', 'varieties1',
       'varieties2', 'type', 'use', 'degree', 'sweet', 'acidity', 'body',
       'tannin', 'price', 'year', 'ml'],
      dtype='object')

In [57]:
df.nation.unique()

array(['Chile', 'France', 'USA', 'Italy', 'Germany', 'Spain',
       'New Zealand', 'Australia', 'Argentina', 'Canada', 'Portugal',
       'the Republic of South Africa', 'Greece', 'Romania', 'Hungary',
       'Lebanon', 'Israel', 'Austria', 'Korea', 'Others', 'Bulgaria',
       'Japan', 'Georgia', 'UK', 'Uruguay', 'Slovenia', 'Azerbaijan',
       'China', 'Moldova', nan, 'Croatia', 'Sweden'], dtype=object)

In [58]:
df.shape

(21605, 18)

In [59]:
df.isnull().sum()

Rank              0
id                0
name              0
producer          0
nation            2
local1          900
varieties1      349
varieties2    14087
type             58
use              14
degree         7145
sweet             2
acidity          13
body             13
tannin           13
price             0
year              0
ml                0
dtype: int64

In [60]:
df = df.drop(['varieties2'], axis = 1)

In [61]:
df.shape

(21605, 17)

In [65]:
df.dropna(axis=1)

,Rank,id,name,producer,price,year,ml
0,0,137197,Altair,Altair,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,0,0,750
3,3,137200,Baron du Val White,Baron du Val,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,0,2003,750
...,...,...,...,...,...,...,...
21600,21600,168703,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,128000,0,750
21601,21601,168704,"Leopardâ€™s Leap, Cuvee Brut",Leopards Leap,40000,0,750
21602,21602,168705,"Leopardâ€™s Leap, Chardonnay Pinot Noir",Leopards Leap,40000,2020,750
21603,21603,168706,"Leopardâ€™s Leap, Chardonnay",Leopards Leap,40000,2020,750
21604,21604,168707,"Leopardâ€™s Leap, Culinaria Muscat",Leopards Leap,55000,2019,750

In [67]:
df.shape

(21605, 17)

In [68]:
missing_values_count = df.isnull().sum()

In [69]:
print(missing_values_count)

Rank             0
id               0
name             0
producer         0
nation           2
local1         900
varieties1     349
type            58
use             14
degree        7145
sweet            2
acidity         13
body            13
tannin          13
price            0
year             0
ml               0
dtype: int64

In [70]:
df = df.drop(['degree','id'], axis = 1)

In [71]:
df.isnull().sum()

Rank            0
name            0
producer        0
nation          2
local1        900
varieties1    349
type           58
use            14
sweet           2
acidity        13
body           13
tannin         13
price           0
year            0
ml              0
dtype: int64

In [78]:
df.fillna(0)

,Rank,name,producer,nation,local1,varieties1,type,use,sweet,acidity,body,tannin,price,year,ml
0,0,Altair,Altair,Chile,Rapel Valley,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,"Altair, Sideral",Altair,Chile,Rapel Valley,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,Baron du Val Red,Baron du Val,France,0,Carignan,Red,Table,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,Baron du Val White,Baron du Val,France,0,Carignan,White,Table,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,"Benziger, Cabernet Sauvignon",Benziger,USA,California,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21600,21600,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,France,Champagne,Pinot Meunier,Sparkling,"Appetizer, Table",SWEET1,ACIDITY5,BODY2,TANNIN1,128000,0,750
21601,21601,"Leopardâ€™s Leap, Cuvee Brut",Leopards Leap,the Republic of South Africa,Coastal Region,Chardonnay,Sparkling,"Appetizer, Table",SWEET1,ACIDITY5,BODY2,TANNIN1,40000,0,750
21602,21602,"Leopardâ€™s Leap, Chardonnay Pinot Noir",Leopards Leap,the Republic of South Africa,Western Cape,Chardonnay,Rose,"Appetizer, Table",SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21603,21603,"Leopardâ€™s Leap, Chardonnay",Leopards Leap,the Republic of South Africa,Coastal Region,Chardonnay,White,"Appetizer, Table",SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21604,21604,"Leopardâ€™s Leap, Culinaria Muscat",Leopards Leap,the Republic of South Africa,Breede River Valley,Muscat,Rose,"Appetizer, Dessert",SWEET3,ACIDITY3,BODY3,TANNIN1,55000,2019,750

In [79]:
df.fillna(method='bfill',axis=0).fillna(0)

,Rank,name,producer,nation,local1,varieties1,type,use,sweet,acidity,body,tannin,price,year,ml
0,0,Altair,Altair,Chile,Rapel Valley,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,"Altair, Sideral",Altair,Chile,Rapel Valley,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,Baron du Val Red,Baron du Val,France,California,Carignan,Red,Table,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,Baron du Val White,Baron du Val,France,California,Carignan,White,Table,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,"Benziger, Cabernet Sauvignon",Benziger,USA,California,Cabernet Sauvignon,Red,Table,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21600,21600,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,France,Champagne,Pinot Meunier,Sparkling,"Appetizer, Table",SWEET1,ACIDITY5,BODY2,TANNIN1,128000,0,750
21601,21601,"Leopardâ€™s Leap, Cuvee Brut",Leopards Leap,the Republic of South Africa,Coastal Region,Chardonnay,Sparkling,"Appetizer, Table",SWEET1,ACIDITY5,BODY2,TANNIN1,40000,0,750
21602,21602,"Leopardâ€™s Leap, Chardonnay Pinot Noir",Leopards Leap,the Republic of South Africa,Western Cape,Chardonnay,Rose,"Appetizer, Table",SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21603,21603,"Leopardâ€™s Leap, Chardonnay",Leopards Leap,the Republic of South Africa,Coastal Region,Chardonnay,White,"Appetizer, Table",SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21604,21604,"Leopardâ€™s Leap, Culinaria Muscat",Leopards Leap,the Republic of South Africa,Breede River Valley,Muscat,Rose,"Appetizer, Dessert",SWEET3,ACIDITY3,BODY3,TANNIN1,55000,2019,750

In [80]:
import re